<form #loginForm="ngForm">

  <input
  type="text"
  name="email"
  ngModel
  required
  email
  class="form-control"
#email="ngModel"
  >
  <div
    *ngIf="email.invalid && email.touched"
    class="alert alert-danger">
    Votre email est incorrect
  </div>
  <input
    type="password"
    name="password"
    ngModel
    required
    minlength="6"
    #password="ngModel"
    class="form-control"

  >
  <div
    *ngIf="password.invalid && password.touched"
    class="alert alert-danger">
    Votre password est incorrect
  </div>
  <button
    [disabled]="loginForm.invalid"
    (click)="login(loginForm)"
    class="btn btn-primary">
    Login
  </button>

</form>
