<div class="row">
  <div class="col-md-6 col-sm-3">
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >Age</span>
  </div>

  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{selectedPersonne.age}}" disabled >

</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Job</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{selectedPersonne.job}}" disabled>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >CIN</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{selectedPersonne.cin}}" disabled>
</div>
  </div>
  <div class="col text-center">
    <button

      (click)="getTOPerson()"
      type="button" class="btn btn-primary" >Detail</button>
  </div>
</div>

